html {
    height: 100%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(7, 54, 98);
    background: linear-gradient(0deg, rgba(7, 54, 98, 1) 0%, rgba(8, 95, 167, 1) 100%);
}

#main-container {
    height: 500px;
    width: 95%;
    margin: auto;
    background-color: red;
}

#container {
    width: 100%;
}

#header {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: green;
}

#content {
    height: 300px;
    width: 100%;
    background: blue;
    margin: auto;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline {
    display: inline-block;
}

#score {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    background: yellow;
}

#score-box {
    height: 100px;
    width: 100%;
    background: white;
}

#score-box p {
    font-size: 40px;
    margin: auto;
    line-height: 100px;
}

#game {
    height: 100%;
    margin: auto;
    line-height: 300px;
    background: black;
}

#game img {
    margin: 0 15;
    background: purple;
}