html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #262626;
    font-family: 'Baloo Chettan 2', cursive;
    color: #262626;
}

#main-container,
#content {
    height: 100%;
}

#footer {
    width: 100%;
    height: 100px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    margin: auto;
}

#name {
    line-height: 100px;
    text-align: center;
}

h1 {
    margin: auto;
}

h2,
p {
    font-size: 30px;
    margin: auto;
}

h3 {
    font-size: 20px;
    margin-bottom: 0;
}

#container {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

#player-col {
    height: 100%;
    width: 66%;
    background: #CA3435;
    float: left;
}

#cpu-col {
    height: 100%;
    width: 33.5%;
    background: #4DB8C6;
    float: right;
}

#game,
#cpu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
}

img {
    width: 160px;
    height: 160px;
}

img:hover {
        transform: scale(1.1);
        transition: all ease 300ms;
}